/* Basic reset: */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 7.2rem; }

.grid {
  display: grid;
  gap: 9.6rem; }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(31, 25, 25, 0.467); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    animation: moveInleft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 5px;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(31, 25, 25, 0.467), #000);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-huge {
  margin-top: 4rem; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--primary {
  background-color: #0070ba;
  color: #fff; }

.btn--white {
  background-color: #fff;
  color: rgba(31, 25, 25, 0.467); }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.5rem;
  color: #0070ba;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0070ba;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #0070ba;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--reccommended::after {
      content: "Reccommended";
      position: absolute;
      top: 6%;
      right: -14%;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #333;
      font-weight: 700;
      background-color: #ffd43b;
      padding: 0.8rem 3.2rem;
      transform: rotate(45deg); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #338dc8, #1a7ec1); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__img {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__img--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/header.png); }
    .card__img--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/eduardo.jpg); }
    .card__img--3 {
      background-image: linear-gradient(to right bottom, #338dc8, #1a7ec1), url(../img/blocks.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(51, 141, 200, 0.85), rgba(26, 126, 193, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.6rem; }
      .card__details ul li {
        display: flex;
        font-size: 1.5rem;
        gap: 1.6rem;
        align-items: center; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
        .card__details ul li .list-icon {
          width: 2rem;
          height: 2rem; }
          .card__details ul li .list-icon-1 {
            color: #ff7730; }
          .card__details ul li .list-icon-2 {
            color: #28b485; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4rem;
    font-weight: 300; }
    .card__price-value span {
      font-weight: 100;
      font-size: 2.4rem;
      margin-right: 0.8rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.8s ease-in-out; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.6s ease-in-out;
  backface-visibility: hidden; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: #338dc8; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem; }

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s; }

.main-nav-link:hover,
.main-nav-link:active {
  color: #0070ba; }

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #fff; }

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #b3b3b366; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.4s 0.2s; }
  .popup__left {
    width: 33.33333333%;
    display: table-cell; }
  .popup__right {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: rgba(31, 25, 25, 0.467);
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #0070ba; }

.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.5rem;
  transform: skewX(-12deg); }
  .testimonial:not(:last-child) {
    margin-bottom: 4rem; }
  .testimonial__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .testimonial__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s; }
  .testimonial__text {
    transform: skewX(12deg); }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .testimonial:hover .testimonial__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.footer {
  padding: 5rem 0;
  background-color: #333;
  font-size: 1.4rem;
  color: #fff;
  border-top: 2px solid #0070ba; }
  .footer__box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__logo {
    width: 15rem;
    height: auto; }

.section-details {
  height: 95vh;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 4.8rem;
  margin-bottom: 11rem; }
  .header__logo {
    height: 3.2rem; }

.details {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 7.2rem; }

.details-description {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 4.8rem;
  max-width: 40rem; }

/***************************************/
/*EASY SECTION*/
/***************************************/
.section-easy {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

/***************************************/
/*why SECTION*/
/***************************************/
.section-why {
  background-color: orangered; }

.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(51, 141, 200, 0.8), rgba(26, 126, 193, 0.8)), url("../img/phillips.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

/***************************************/
/*SECTION LOANS*/
/***************************************/
.section-loans {
  background-color: #f7f7f7;
  padding: 15rem 0 9.6rem 0;
  margin-top: -8rem; }

/***************************************/
/*SECTION TESTIMONIAL*/
/***************************************/
.section-testimonial {
  position: relative;
  padding: 9.6rem 0; }
