$color-primary: #0070ba;
$color-primary-light: #338dc8;
$color-primary-dark: #1a7ec1;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-3: #333;

$color-grey-dark: rgba(31, 25, 25, 0.467);
$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.5rem;

// section padding
$section-padding: 15rem 0;
$section-padding-medium: 9.6rem 0;
