/* Basic reset: */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // defines what 1rem is, 10px
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 7.2rem;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
